body {
    background-color: #B9EDDD;
}

.hero2 {
    background-color: #87CBB9   ;
}

.box-about {
    background-color: #87CBB9;
}
/* .relative {
    background-color: #19A7CE;
}  */

.footer {
    background-color: #98D8AA;
}

/* .hero {
    background-color: #047979;
}

.footer {
    background-color: #FFE4B5;
}

.hero2 {
    background-color: #008e8e;
}

.relative {
    background-color: #047979;
}


} */